BeautifulSoup==3.2.1
Django==1.3
LBForum==0.9.22
Pillow==2.2.1
South==0.7.2
argparse==1.2.1
django-helper==0.8.4
django-lb-attachments==0.8.3
django-onlineuser==0.8.7
django-pagination==1.0.7
django-registration==0.8
django-simple-avatar==0.8.6
django-simple-captcha==0.4.0
postmarkup==1.2.0
six==1.4.1
wsgiref==0.1.2
yolk==0.4.3
